<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php.dist"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         codecoverage="false">
       
  <testsuites>
    <testsuite name="Integration Test">
      <directory suffix="Test.php">integration/</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-clover" target="../target/test/int-reports/clover.xml"/>
    <log type="junit"           target="../target/test/int-reports/junit.xml" logIncompleteSkipped="false"/>
    <log type="coverage-crap4j" target="../target/test/int-reports/crap4j.xml"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src</directory>
    </whitelist>
  </filter>

</phpunit>
