<?xml version="1.0" encoding="UTF-8"?>
<project name="PHP Ant build" default="composer:install">

  <!-- set the composer path -->
  <property name="composerdir" value=""/>
  <!-- set the build applications path -->
  <property name="toolsdir" value="${basedir}/vendor/bin/"/>       
  <!-- set the unit test xml path -->
  <property name="testdir" value="${basedir}/test/"/>       
  <!-- set the scm url -->
  <property name="scm" value=".."/>

  <!-- 
    import the parent xml 
  -->
  <import file="vendor/app3web/ant-build/build.xml" optional="true" />


  <target name="-install-composer" description="Install dependencies with Composer">
      <tstamp>
          <format property="thirty.days.ago" pattern="MM/dd/yyyy hh:mm aa" offset="-30" unit="day"/>
      </tstamp>
      <delete>
          <fileset dir="${basedir}">
              <include name="composer.phar" />
              <date datetime="${thirty.days.ago}" when="before"/>
          </fileset>
      </delete>
      <get src="https://getcomposer.org/composer.phar" dest="${basedir}/composer.phar" skipexisting="true"/>
  </target>  
  <!-- 
    init composer task
  -->
  <target name="composer:install" description="Install dependencies with Composer" depends="-install-composer">
    <echo message="- execute composer install ---------------------------------------"/>        
    <exec executable="php">
        <arg value="${basedir}/composer.phar"/>
        <arg value="install"/>
    </exec>    
  </target>   
  
  <target name="composer:update" description="Update dependencies with Composer" depends="-install-composer">
    <echo message="- execute composer install ---------------------------------------"/>        
    <exec executable="php">
        <arg value="${basedir}/composer.phar"/>
        <arg value="update"/>
    </exec>    
  </target>   

</project>